@import url("styles/header.css");
@import url("styles/banner.css");
:root{
    --cor-de-fundo: #EBECEE;
    --branco:#ffff ; 
    --laranja:#EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 10%, #326589 95%);
    --fonte-principal: 'Poppins', sans-serif;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    
}
h1{
    background-color: white;
}